*.env

#
/archive
__pycache__
data

#terraform

**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

*.pem
*.key
*.pub

.envrc

*tfplan*

**/.terraform.lock.hcl

**/.DS_Store